.App {
  width: 100%;
  background: #fff;
}

/* Header Section */

header {
  width: 100%;
  padding: 1rem 7rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

nav {
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .logo a {
  text-decoration: none;
  font-size: 24px;
  font-weight: 700;
  color: #002699;
}

nav .logo a span {
  color: #f15025;
  font-size: 30px;
}

nav .user {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

nav .user .header_btn {
  padding: 10px 15px;
  width: 10rem;
  border: none;
  color: #fff;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: capitalize;
  border-radius: 5px;
  cursor: pointer;
}

nav .user .trail {
  background: #002699;
}

nav .user .login {
  background: #f15025;
}
/* ============================================================================================ */

/* Login Container */

.login_container {
  padding: 0rem 7rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  width: 100%;
  height: 80vh;
}

.login_container .login {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 300px;
}

.login_container .login .heading {
  padding: 1rem 0;
}

.login_container .login .heading h2 {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #000;
}

.login_container .login .subheading {
  text-align: center;
  font-size: 14px;
  letter-spacing: 0.85px;
  line-height: 1.2;
  font-weight: 500;
}

.login_container .login .form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 0.5rem;
  width: 100%;
  padding: 0.5rem 0;
}

.login_container .login .form .form_control {
  width: 100%;
  padding: 10px 15px;
  border: none;
  outline: none;
  border: 1px solid #adaaaa;
  border-radius: 5px;
}

.login_container .login .form .form_control::placeholder {
  font-size: 14px;
  letter-spacing: 0.85px;
  color: #adaaaa;
}

.login_container .login .form .btn {
  width: 100%;
  padding: 10px 15px;
  border: none;
  background: #002699;
  color: #fff;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 700;
  cursor: pointer;
  border-radius: 5px;
}

.login_container .login .footer {
  width: 100%;
  padding: 0.5rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.login_container .login .footer .left {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
}

.login_container .login .footer .left span {
  font-size: 12px;
  text-transform: capitalize;
  font-weight: 500;
  color: #000;
}

.login_container .login .footer .right button {
  border: none;
  background: transparent;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.85px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #002699;
}

.login_container .banner {
  width: 100%;
}

.login_container .banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Media Query */

@media screen and (max-width: 786px) {
  header {
    padding: 1px 2rem;
  }

  nav {
    padding: 0;
  }

  nav .user {
    display: none;
  }

  .login_container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 2rem;
    background: url("../public/image/login.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .banner {
    display: none;
  }
}
